html {
    font-size: 16px;
    background-color: #04001a;
}

body {
    background-color: #04001a;
    text-align: center;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    margin: 0, auto;
    color: white;
}

a {
    color: aquamarine;
    font-size: 1rem;
}